<div class="form-group">
	<label for="">申请信息：<strong>{$data.day}&nbsp;&nbsp;&nbsp;&nbsp;{$data.lesson}&nbsp;&nbsp;&nbsp;&nbsp;{$data.number}</strong></label>
	<input type="hidden" name="number" class="form-control applyModal" value="{$data.number}" readonly />
	<input type="hidden" name="day" class="form-control applyModal" value="{$data.day}" readonly />
	<input type="hidden" name="lesson" class="form-control applyModal" value="{$data.lesson}" readonly />
	<input type="hidden" name="time" class="form-control applyModal" value="{$time}" />
</div>

<div class="form-group">						
	<label for="">申请人</label>
	<input type="text" name="application" class="form-control applyModal" value="{:session('name')}" />
	<div class="alert alert-warning"></div>
</div>						

<div class="form-group">						
	<label for="">联系电话</label>
	<input type="text" name="phone" class="form-control applyModal" />
	<div class="alert alert-warning"></div>
</div>

<div class="form-group">						
	<label for="">使用时间</label> 
	<input type="text" name="useTime" class="form-control applyModal"  placeholder="例如：{$time}"/>
	<div class="alert alert-warning"></div>
</div>

<div class="form-group">						
	<label for="">申请理由</label> 
	<textarea name="reason" class="form-control applyModal" rows="5"></textarea>
	<div class="alert alert-warning"></div>
</div>
		
<div class="form-group pull-right">
	<input type="submit" onclick="apply()"  value="提交" class="btn btn-success">
	<input type="reset" value="重置" class="btn btn-danger">
</div>

<div style="clear:both"></div>

<script type="text/javascript">
	
	$(".applyModal[name=application]").blur(function(){
		// 获取输入框中的内容
		let val = $(this).val();
		if(val){
			$(this).next().hide(100);
			$(this).attr("isOk",1);
		}else{
			$(this).next().show(100).html('请输入申请人');
			$(this).attr("isOk",0);
		}
	});
	
	$(".applyModal[name=phone]").blur(function(){
		// 获取输入框中的内容
		let val = $(this).val();
		if(val){
			$(this).next().hide(100);
			$(this).attr("isOk",1);
		}else{
			$(this).next().show(100).html('请输入联系电话');
			$(this).attr("isOk",0);
		}
	});
	
	
	$(".applyModal[name=useTime]").blur(function(){
		// 获取输入框中的内容
		var val = new Array();
		let useTime = $(this).val();
		val.push(useTime);
		if(useTime){
			$("input[type=hidden]").each(function(){
			    val.push($(this).val());//添加至数组
			});
			$.get("{:url('roomApply/isApply')}",{val:val},function(data){
				if(data == 1){
					$(".applyModal[name=useTime]").next().show(100).html('该机房的时间段已有人申请，请更换其他机房或时间段');
					$(".applyModal[name=useTime]").attr("isOk",0);
				}else{
					$(".applyModal[name=useTime]").next().hide(100);
					$(".applyModal[name=useTime]").attr("isOk",1);				
				}
				
				
			});
			
		}else{
			$(this).next().show(100).html('请输入使用时间');
			$(this).attr("isOk",0);
		}
	});
	
	$(".applyModal[name=reason]").blur(function(){
		// 获取输入框中的内容
		let val = $(this).val();
		if(val){
			$(this).next().hide(100);
			$(this).attr("isOk",1);
		}else{
			$(this).next().show(100).html('请输入申请理由');
			$(this).attr("isOk",0);
		}
	});
</script>