{layout name="index"}
<style type="text/css">
	strong {
		margin-left: 20px;
		text-align: center;
		font-size: 20px;
	}
	.week {
		color: blue;
		font-size: 16px
	}
</style>

<div class="body_container">	
	<ol class="breadcrumb">
		<li><a href="{:url('Index/index')}"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
		<li><a href="{:url('Room/index')}">机房管理</a></li>
		<li class="active">空机房申请</li>

		<button class="btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-refresh"></span></button>
	</ol>

	<div class="panel panel-default">
		<div class="panel-heading">		
			<form action="{:url('RoomApply/index')}" class="form-inline pull-right">
				<div class="form-group">
					这周是自开学以来的<span class="week">第{$time}周</span>&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
				<div class="form-group">					
					<select name="day" class="form-control">						
						<option value=" ">按星期查询</option>
						<option value="星期一" {$day=='星期一'?'selected':''}>星期一</option>
						<option value="星期二" {$day=='星期二'?'selected':''}>星期二</option>
						<option value="星期三" {$day=='星期三'?'selected':''}>星期三</option>
						<option value="星期四" {$day=='星期四'?'selected':''}>星期四</option>
						<option value="星期五" {$day=='星期五'?'selected':''}>星期五</option>
						<option value="星期六" {$day=='星期六'?'selected':''}>星期六</option>
						<option value="星期日" {$day=='星期日'?'selected':''}>星期日</option>
					</select>
				</div>
				<div class="form-group">
					<select name="lesson" class="form-control">
						<option value=" ">按节次查询</option>
						<option value="1-2" $lesson=='1-2'?'selected':''}>1-2</option>
						<option value="3-5" {$lesson=='3-5'?'selected':''}>3-5</option>
						<option value="6-7" {$lesson=='6-7'?'selected':''}>6-7</option>
						<option value="8-9"  {$lesson=='8-9'?'selected':''}>8-9</option>
						<option value="12-12" {$lesson=='10-12'?'selected':''}>12</option>
					</select>
				</div>
				
				<div class="form-group">
					<input type="text" name="search" value="{$_GET['search']|default=''}" class="form-control" placeholder="按机房查询" >
				</div>
				<input type="submit" value="查询" class="btn btn-success  pull-right">
			</form>

		</div>
		<table class="table-bordered table table-hover">			
			<tr>
				<th>机房</th>
				<th>星期</th>
				<th>节次</th>
				<th>机房容量</th>
				<th>申请</th>
			</tr>			
			{if condition="$total==0"}
				{volist name="data" id="data"}
					<tr>
						<td>{$data.number}</td>
						<td>{$data.day}</td>
						<td>{$data.lesson}</td>
						<td>{$data.capacity}</td>
						<td>
							<a href="javascript:;" onclick="apply({$data.id})" data-toggle="modal" data-target="#applyModal" class="btn btn-info" >申请机房</a>
						</td>
					</tr>
				{/volist}
			{else /}
				{volist name="list" id="value"}
				<tr>
					<td>{$value.number}</td>
					<td>{$value.day}</td>
					<td>{$value.lesson}</td>
					<td>{$value.capacity}</td>
					<td>
						<a href="javascript:;" onclick="apply({$value.id})" data-toggle="modal" data-target="#applyModal" class="btn btn-info" >申请机房</a>
					</td>
				</tr>
				{/volist}		
			{/if}
	
		</table>
	</div>
	
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="applyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="applyModalLabel">申请机房</h4>
            </div>
            <div class="modal-body">
            	<form action="{:url('RoomApply/list')}" id="applyModalForm" method="post">	
				</form>
           </div>					          
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script type="text/javascript">
	
	function apply(id){
		$.get("{:url('RoomApply/apply')}",{id:id},function(data){
			$("#applyModalForm").html(data);
		})
	}
	

</script>
